body { 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
}

.area {
    display: flex;
    width: calc(100% - 200px);
    justify-content: center;
    align-items: center;
}

canvas {
    width: 100%;
    height: 100vh;
}

.version {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px 5px;
    font-size: 0.6em;
    color: #ffffff;
    background-color: lightseagreen;
    border-radius: 5px 0 0 0;
}