@import "variables";

.options {
    position: relative;
    background-color: $lightgreen;
    width: 200px;
    height: 100vh;
    padding: 15px;
    .p {
        color: $white;
        font-weight: 600;
    }
}
input {
    display: block;
    margin: 15px auto;
    width: 100%;
    font-size: .7em;
    text-align: center;
}
.save-photo {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 15px 0;
    width: calc(100% - 30px);
    display: block;
    text-decoration: none;
    padding: 10px 10px;
    color: $white;
    background-color: darken($lightgreen, 30%);
    transition: background-color, color 0.3s;
    &:hover {
        background-color: $lightgreen;
        color: darken($lightgreen, 30%);
        font-weight: 600;
    }
}
.colors {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    li {
        box-shadow: inset 0 0 2px 0 #7a7a7a;
        border: 2px solid $white;
        list-style: none;
        width: 20px;
        height: 20px;
        margin: 5px;
        transition: transform .3s;
        transition-timing-function: ease-out;
        &[data-color="black"] {
            background-color: $black;
        }
        &[data-color="white"] {
            background-color: $white;
        }
        &[data-color="red"] {
            background-color: $red;
        }
        &[data-color="orange"] {
            background-color: $orange;
        }
        &[data-color="yellow"] {
            background-color: $yellow;
        }
        &[data-color="green"] {
            background-color: $green;
        }
        &[data-color="teal"] {
            background-color: $teal;
        }
        &[data-color="blue"] {
            background-color: $blue;
        }
        &[data-color="purple"] {
            background-color: $purple;
        }
        &[data-color="pink"] {
            background-color: $pink;
        }
        &[data-color="brown"] {
            background-color: $brown;
        }
        &[data-color="gray"] {
            background-color: $gray;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
    .active-color {
        transform: scale(1.2);
    }
}