$white: #ffffff;
$lightgreen: #20b2aa;

// colors 
$red: #FF4016;
$orange: #FE8818;
$yellow: #F9E113;
$green: #77D90C;
$teal: #2EC6AC;
$blue: #4B71FF;
$purple: #C029EA;
$pink: #FF97BE;
$brown: #DB8739;
$black: #222222;
$gray: #D8D8D8;